@import "tailwindcss";

@theme {
  --color-primary: #16151f;
  --color-listing: #2e2746;
  --color-border: #9c78ed33;
  --color-heading: #0b1133;
  --color-klink-purple: #9583ff;
  --color-gradient-primary: #9a8afe;
  --color-gradient-secondary: #674eff;
  --color-gradient-tertiary: #714ebd;
}

body {
  font-family: "Inter", sans-serif;
}
