@import "tailwindcss";

@theme {
  --color-primary: #16151f;
  --color-listing: #2e2746;
  --color-border: #9c78ed33;
  --color-heading: #0b1133;
  --color-klink-purple: #9583ff;
}

body {
  font-family: "Inter", sans-serif;
}

.container-new {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-new .box-new {
  transform-style: preserve-3d;
  animation: animate 7s ease-in-out infinite alternate;
}
.container-new .box-new span {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5) 90%,
    transparent
  );
  text-transform: uppercase;
  line-height: 0.76em;
  position: absolute;
  color: #fff;
  font-size: 3.5em;
  white-space: nowrap;
  font-weight: bold;
  padding: 0px 10px;
  transform-style: preserve-3d;
  text-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg))
    translateZ(109px);
}
.container-new .box-new span i {
  font-style: initial;
}
.container-new .box-new span i:nth-child(1) {
  color: #5c5fc4;
}
.container-new .box-new span i:nth-child(2) {
  color: #c4c15c;
}
@keyframes animate {
  0% {
    transform: perspective(500px) rotateX(0deg) rotate(5deg);
  }
  100% {
    transform: perspective(50px) rotateX(360deg) rotate(5deg);
  }
}
